<h1 mat-dialog-title>Ajouter un rapport</h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">
        <mat-form-field>
            <mat-label>Nom Rapport</mat-label>
                <input formControlName="nomRapport" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Professeur</mat-label>
                    <input formControlName="professeur" matInput>
                </mat-form-field>
            <mat-form-field>
            <mat-label>Matiére</mat-label>
                <mat-select formControlName="matiere">
                    <mat-option value="web Developpement">web Developpement</mat-option>
                    <mat-option value="Systemes embarques">Systemes embarques</mat-option>
                    <mat-option value="Big Data">Big Data</mat-option>
                    <mat-option value="securite des reseaux">securite des reseaux</mat-option>
                    <mat-option value="Architecture des ordinateurs">Architecture des ordinateurs</mat-option>
                    <mat-option value="Intelligence artificielle">Intelligence artificielle</mat-option>
                    <mat-option value="Cloud computing">Cloud computing</mat-option>
                    <mat-option value="Algorithme">Algorithme</mat-option>
                    <mat-option value="Vitualisation">Vitualisation</mat-option>
                    <mat-option value="Projet informatique">Projet informatique</mat-option>
                </mat-select>
            </mat-form-field>
    
            <!-- <mat-form-field> -->
            <!-- <mat-label>Nombre d'heure de cours/mois</mat-label> -->
                <!-- <input type="number" formControlName="heure" matInput> -->
            <!-- </mat-form-field> -->
    
              <mat-form-field class="example-full-width">
                <mat-label>Ecrire votre rapport</mat-label>
                <textarea matInput placeholder="Ex.Le cours de langage c ..." formControlName="rapport"></textarea>
              </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>close</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="ajouterRapport()">save</button>
</div>
