<div >
    <app-etudiant></app-etudiant>
  <div class="emploi-du-temps">
    <table>
      <thead>
        <tr>
          <th>HEURE</th>
          <th>LUNDI</th>
          <th>MARDI</th>
          <th>MERCREDI</th>
          <th>JEUDI</th>
          <th>VENDREDI</th>
          <th>SAMEDI</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>8:00 - 10:00</td>
            <td>
            <div class="course-info">
              <div class="course-name">Web Development</div>
              <div class="professor-name">Mr gueye</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Big Data</div>
              <div class="professor-name">Mr Diaw</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Intelligence artificielle</div>
              <div class="professor-name">Mr Sene</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Sécurité des réseaux</div>
              <div class="professor-name">Mr Dia</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Virtualisation</div>
              <div class="professor-name">Mme Camara</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Algorithmique</div>
              <div class="professor-name">Mme Ndiayea</div>
            </div>
          </td>
        </tr>


        <tr>
          <td>10:00 - 12:00</td>
            <td>
            <div class="course-info">
              <div class="course-name"></div>
              <div class="professor-name"></div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Architecture des ordinateurs</div>
              <div class="professor-name">Mr Faye</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Intelligence artificielle</div>
              <div class="professor-name">Mr Sene</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Bases de données avancées</div>
              <div class="professor-name">Mme Goudiaby</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Projet informatique</div>
              <div class="professor-name">Mme Diop</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Algorithmique</div>
              <div class="professor-name">Mme Ndiaye</div>
            </div>
          </td>
        </tr>
       
        <tr>
          <td>12:00 - 14:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>14:30 - 16:30</td>
            <td>
            <div class="course-info">
              <div class="course-name">Systèmes embarqués</div>
              <div class="professor-name">Mr Diouf</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Big Data</div>
              <div class="professor-name">Mr Diaw</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name"></div>
              <div class="professor-name"></div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name"></div>
              <div class="professor-name"></div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Virtualisation</div>
              <div class="professor-name">Mme Camara</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name"></div>
              <div class="professor-name"></div>
            </div>
          </td>
        </tr>
        <tr>

          <td>16:30 - 18:30</td>
            <td>
            <div class="course-info">
              <div class="course-name">Systèmes embarqués</div>
              <div class="professor-name">Mr Diouf</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Big Data</div>
              <div class="professor-name">Mr Diaw</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name"> </div>
              <div class="professor-name"></div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name">Cloud Computing</div>
              <div class="professor-name">Mr Dia</div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name"> </div>
              <div class="professor-name"></div>
            </div>
          </td>
          <td>
            <div class="course-info">
              <div class="course-name"></div>
              <div class="professor-name"></div>
            </div>
          </td>
      
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  