<!-- navbar.component.html -->

<div class="sidebar">
    <ul class="sidebar-menu">
        <li><a routerLink="/accueil">Accueil</a></li>
        <li><a routerLink="/cours">Cours</a></li>
        <li><a routerLink="/emploi-du-temps">Emploi du temps</a></li>
        <li><a routerLink="/cahier-de-texte">Cahier de textes</a></li>
        <li><a routerLink="/ressources">Ressources</a></li>
        <li><a routerLink="/profil">Profil</a></li>
        <li><a routerLink="/communication">Communication</a></li>
        <li><a routerLink="/deconnexion">Déconnexion</a></li>

      <!-- Ajoutez d'autres liens pour les différentes fonctionnalités -->
    </ul>
  </div>
  
  
