<!-- <p>pv works!</p> -->

<div>
    <div class="flex flex-col text-center w-full mb-12">
        <h1  class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Saisir procès-verbal (PV)</h1>
    </div>
    
    <div>
        
            <!-- <div class="host" class="example-container">
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                <mat-form-field>
                    <mat-label>lieu</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Auteur</mat-label>
                    <input matInput>
                  </mat-form-field>

                    
                  <mat-form-field>
                    <mat-label>Contenu</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Decision</mat-label>
                    <input matInput>
                  </mat-form-field>
            </div> -->

            <div class="lg:w-1/2 md:w-2/3 mx-auto">
                <div class="flex flex-wrap -m-2">
                  <div class="p-2 w-1/2">
                    <div class="relative">
                        <label for="name" class="leading-7 text-sm text-gray-600">Choisir une date</label>
                        <mat-form-field>
                            
                            <input matInput [matDatepicker]="picker" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>

                        </mat-form-field>
                       
                      </div>
                  </div>
                  <div class="p-2 w-1/2">
                    <div class="relative">
                      <label for="text" class="leading-7 text-sm text-gray-600">Lieu</label>
                      <input type="text" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                  </div>   
                  <div class="p-2 w-1/2">
                    <div class="relative">
                      <label for="text" class="leading-7 text-sm text-gray-600">Objet</label>
                      <input type="text" id="objet" name="objet" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                  </div>  
                  <div class="p-2 w-1/2">
                    <div class="relative">
                      <label for="text" class="leading-7 text-sm text-gray-600">Auteur</label>
                      <input type="text" id="auteur" name="auteur" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                  </div>  
                  <div class="p-2 w-1/2">
                    <div class="relative">
                      <label for="text" class="leading-7 text-sm text-gray-600">Decision</label>
                      <input type="text" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                    </div>
                  </div> 
                  <div class="p-2 w-full">
                    <div class="relative">
                      <label for="message" class="leading-7 text-sm text-gray-600">Contenu</label>
                      <textarea id="contenu" name="contenu" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
                    </div>
                  </div>

                  <div class="p-2 w-full">
                    <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Enregistrer</button>
                    </div>
        
    </div>

</div>