<!-- <p>rapport works!</p> -->
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon></mat-icon>
    </button>
    <span>Rapports</span>
    <span class="example-spacer"></span>
    <button mat-flat-button (click)="openDialog()" color="warn" *ngIf="user.role=='etudiant' || user.role=='responsable'" >Donner un avis</button>
    
  </mat-toolbar>
  <div class="container">
    <div style="margin-top: 10px;" class="table">
        <mat-form-field>
            <mat-label>Filtrer</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="matiere">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Matiere </th>
                <td mat-cell *matCellDef="let row"> {{row.matiere}} </td>
              </ng-container>
              <ng-container matColumnDef="Avis">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Avis</th>
                <td mat-cell *matCellDef="let row"> {{row.contenu}} </td>
              </ng-container>

              <!-- <ng-container matColumnDef="professeur">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Professeur </th>
                <td mat-cell  *matCellDef="let row"> {{row.Professeur}} </td>
              </ng-container> -->
          
              <!-- Progress Column -->
             
          
              <!-- Name Column -->
              <!-- <ng-container matColumnDef="heure">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Heure/mois </th>
                <td mat-cell *matCellDef="let row"> {{row.heure}} </td>
              </ng-container> -->
          
              <!-- Fruit Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                <td mat-cell *matCellDef="let row"> {{row.createdAt}} </td>
              </ng-container>

             
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
          
          
    </div>
  </div>
