<!-- connexion.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  >
    <div class="container">
    <form >
        <h1>Connexion</h1>
        <input type="text" placeholder="Nom d'utilisateur" required><br>
        <input type="password" placeholder="mot de passe" required><br>
        <input type="submit" value="Se connecter" routerLink="/etudiant"><br>
        <a>Mot de passe oublié ?</a>
        <a class="register-link" routerLink="/inscription">Vous n'avez pas de compte ? Inscrivez-vous</a>

    </form>
    </div>
</body>
</html>
