
.container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin-top: 150px;
}

.container mat-form-field {
  width: 100%;
  margin-bottom: 0px;

}
.login-button {
  width: 100%; /* Prend toute la largeur disponible */
  font-size: 16px; /* Taille de la police */
  background-color:gray; /* Couleur de fond */
  color: #ffffff; /* Couleur du texte */
  border: none; /* Supprimer la bordure */
  border-radius: 5px; /* Bordure arrondie */
  padding: 10px 20px; /* Rembourrage */
  cursor: pointer; /* Curseur de souris au survol */
}

/* Style au survol pour le bouton "Se connecter" */
.login-button:hover {
  background-color: #808b96; /* Couleur de fond au survol */
}

.container a {
  text-decoration: none;
  color: rgb(71, 66, 70);
  margin-top: 12px;
  display: block;
}

.register-link {
  color: blue;
}
.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Espacement entre la case à cocher et le bouton de soumission */
}

.remember-forgot a{
  color: black;
}



