<h2 class="he">MON EMPLOI DU TEMPS</h2>
<div class="emploi-du-temps">
   
    <app-etudiant></app-etudiant>
   
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Lundi</th>
          <th>Mardi</th>
          <th>Mercredi</th>
          <th>Jeudi</th>
          <th>Vendredi</th>
          <th>Samedi</th>
        
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="heure">8h - 10h</td>
          <td>Cours 1</td>
          <td>Cours 2</td>
          <td>Cours 3</td>
          <td>Cours 4</td>
          <td>Cours 5</td>
          <td>Cours 6</td>
   
        </tr>
        <tr>
            <td class="heure">10h - 12h</td>
            <td>Cours 1</td>
            <td>Cours 2</td>
            <td>Cours 3</td>
            <td>Cours 4</td>
            <td>Cours 5</td>
            <td>Cours 6</td>
     
          </tr>
          <tr>
            <td class="heure">12h - 14h30</td>
            <td>Cours 1</td>
            <td>Cours 2</td>
            <td>Cours 3</td>
            <td>Cours 4</td>
            <td>Cours 5</td>
            <td>Cours 6</td>
     
          </tr>
          <tr>
            <td class="heure">14h30 - 16h30</td>
            <td>Cours 1</td>
            <td>Cours 2</td>
            <td>Cours 3</td>
            <td>Cours 4</td>
            <td>Cours 5</td>
            <td>Cours 6</td>
     
          </tr>
          <tr>
            <td class="heure">16h30 - 18h30</td>
            <td>Cours 1</td>
            <td>Cours 2</td>
            <td>Cours 3</td>
            <td>Cours 4</td>
            <td>Cours 5</td>
            <td>Cours 6</td>
     
          </tr>
        <!-- Ajoutez d'autres lignes pour d'autres plages horaires -->
      </tbody>
    </table>
  </div>
  