<!-- accueil.component.html -->

<div class="navbar">


<img src="/assets/logo-recolle.webp" alt="Logo Recolle">
<h1>ECOLE SUPERIEUR POLYTECHNIQUE</h1> <!-- Nom de l'école -->
<a>A propos</a>
</div>
<div class="header">
   
    
  </div>
  
  
  <div class="content">
    <div class="welcome-message">
      <h2>Bienvenue sur la Plateforme de gestion des  enseignants et etudiants </h2>
      <p>Découvrez nos cours, consultez votre emploi du temps et accédez à des ressources pédagogiques enrichissantes.</p>
      <div class="button-container">
      <div class="buttons">
        <p>Vous êtes un étudiant ?</p>
        <button routerLink="/connexion">Connexion Étudiant</button>
      </div>
      <div class="buttons">
        <p>Vous êtes un enseignant ?</p>
        <button routerLink="/ensignant">Connexion Enseignant</button>
      </div>
    </div>
    </div>

  </div>
  
  